* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sortingOuter {
  position: relative;
  margin: auto;
  /* padding: 0 5px 10px 5px; */
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 5px 30px 10px rgba(0, 0, 0, 0.1);
  width: 90vw;
  max-width: 500px;
  height: 90vh;
}
#numberElements {
  width: clamp(0.3em, 10%, 10px);
  box-shadow: 2px 5px 30px 10px rgba(0, 0, 0, 0.1);
  border: 0.1px solid black;
}
span {
  /* display: block; */
  font-weight: 500;
  color: rgb(141, 136, 136);
  cursor: pointer;
  padding: 10px 0 0 10px;
  text-align: center;
}
.toggle-nav {
  position: absolute;
  top: 50%;
  /* border: 1px solid black; */
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.8);
  transition: hover 0.5ms ease-in-out;
  cursor: pointer;
  transform: translateY(-50%);
}
.toggle-nav:hover {
  background-color: rgba(153, 153, 153, 1);
}
.toggle-nav-lists {
  display: none;
  background-color: rgba(153, 153, 153, 1);
  z-index: 9999;
  position: absolute;
  top: 0;
  /* border: 1px solid black; */
  right: 0;
  width: 08rem;
  height: 05rem;
  /* display: flex; */
  flex-direction: column;
  padding-left: 0.8rem;
  /* align-items: s ; */
  justify-content: space-around;
}
.toggle-nav-list-item {
  list-style: none;
  margin-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}
.toggle-nav-lists.active {
  display: flex;
}
.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
